body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-weight: 200;
}
p {
  font-size: 1.2rem;
}
.w3-half > img {
  width: 100%;
}
.w3-row-padding img {
  margin-bottom: 12px;
}
.bgimg {
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/cat3.jpg");
  min-height: 100%;
}
figure {
  margin: 0;
  padding: 0;
}

main > a,
form {
  display: grid;
  justify-content: center;
  text-decoration: none;
}
button > span {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
form {
  padding: 10px;
}
.icon {
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/circle-dollar-to-slot-solid.svg");
  display: block;
  margin: 5px 10px 5px 5px;
}
#donate-button-container {
  display: grid;
  justify-content: center;
  text-decoration: none;
}
